.modal-class{
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00000035;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    min-height: 400px;
    width: 40%;
}
.box1{
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.action-button{
    position:absolute;
    bottom: 5px;
}
.action-button1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.class-edit-form{
    padding-top: 15px;
    padding-bottom: 68px;
}